* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

nav {
  width: 80vw;
  margin: 2rem auto;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  /* margin-top: ; */
  border: 5px solid grey;
  font-size: 1.2rem;
}

nav>ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}

ul>li {
  padding: 0 1rem;
}

a {
  text-decoration: none;
}

nav>#bookNowBtn {
  background-color: red;
}

/* Main Section Sarts Here */
main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#mainSubSection1>p {
  width: 70%;
  font-size: 4rem;
  text-align: center;
  margin: auto;
}

img {
  width: 30vw;
  height: 50vh;
}

/* SubSectionInnerDiv1 */
#SubSectionInnerDiv1 {
  display: flex;
  margin-top: 3rem;
}

#div2 {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

#section1 {
  background-color: black;
  color: white;
  font-weight: none;
}

#section1Div1 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
}

#section1Div2 {
  display: flex;
}

#section1Div2>div {
  line-height: 30px;
  margin: 2rem;
}

#section2 {
  display: grid;
  /* width: 90vw; */
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
}

/* section 3 */
#section3Div1 {
  font-size: 4rem;
}

#section4 {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3rem;
}

#section4>div>p {
  padding: 1rem 0;
}

#section4p1 {
  font-size: 3rem;
}

#section5 {
  background-color: black;
  color: white;
}

#section5>h1 {
  font-size: 3rem;
  text-align: center;
}

.section5div {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
  border-bottom: 3px solid black;
}

hr {
  width: 80vw;
  margin: auto;
  color: red;
}

.section5div>div>ul>li {
  padding: 1rem 0;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  margin: auto;
  justify-content: space-between;
  align-items: center;
}

#contact {
  text-align: center;
  background-color: black;
  color: white;
  padding: 1.5rem 0;
  grid-column: 1/-1;
}

/* @media (max-width) {
  
} */